html {
    font-size: 1.1rem;
} 

.counter {
    text-align: center;
    margin: 0.5rem;
}

.jstree-default .jstree-search {
    color: #008cff;
    font-weight: bold;
    font-style: normal;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 210px);  
    overflow-y: auto;
}

.ui-tooltip {
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 50%;
    white-space: pre-line;
    font: "Helvetica Neue", Sans-Serif;
    box-shadow: none;
}